<!-- <h1>Home Works</h1> -->
 <!-- <div class="styles"><p>hello</p></div> -->
 
<!-- <div class="container d-flex justify-content-center align-items-center text-center full-height">
    <div class="row">
        <div class="row align-items-end">
            <div class="col">
                <h1>Welcome to Our Organization</h1>
                <p>Schedule for Clients, Meetings, and More!</p>
                <button routerLink="/actors" class="btn btn-primary">Create Actors</button>
            </div>
        </div>
    </div>
</div> -->

<div class="container d-flex justify-content-center align-items-center text-center">
    <div class="card border-light mb-3" style="width: 48rem;">
        <div class="card-body">
            <h2 class="card-title">WELCOME</h2>
            <p class="card-text">Register as a client and schedule a meeting.</p>
            <!-- <a routerLink="/actors" class="btn btn-success">Get Started!</a> -->
            
            <a routerLink="/clients" routerLinkActive="active"><button class="btn btn-success btn-lg" >Get Started!</button></a>
        </div>
        <img src="../assets/spiral.jpg" class="card-img-fluid" alt="Placeholder image">
        <div class="card-body">
            
            <p class="text-start">Welcome to Anna's Architectural Firm, where creativity meets functionality, and dreams take shape in brick and mortar.</p>

                <p class="text-start">Our story begins with Anna, a visionary architect with a passion for design that transcends the ordinary. Anna's journey into architecture wasn't just a career choice; it was a calling—a calling to transform spaces into works of art, where every line, every curve, tells a story.</p>

                
                <p class="text-start">Anna's firm isn't just another architectural practice—it's a sanctuary for innovation and excellence. Established on the belief that architecture is more than just constructing buildings; it's about crafting experiences, shaping communities, and leaving a lasting impact on the world around us.</p>
                
                <p class="text-start">At Anna's Architectural Firm, we believe in the power of collaboration. Our team of talented architects, designers, and engineers work seamlessly together, pooling their expertise and creativity to bring each project to life. From concept to completion, we are committed to exceeding our clients' expectations, delivering bespoke solutions that are as unique as they are functional.</p>
                
                <p class="text-start">But our passion goes beyond the drawing board. Sustainability is at the core of everything we do. We understand the profound impact that architecture has on the environment, and we strive to minimize our footprint through thoughtful design and innovative technologies. From green building practices to energy-efficient solutions, we're dedicated to creating spaces that not only inspire but also respect the planet we call home.</p>
                
                <p class="text-start">Anna's Architectural Firm isn't just about creating beautiful buildings; it's about shaping the future. Whether it's designing sustainable homes, revitalizing urban landscapes, or reimagining public spaces, we're committed to making a difference—one project at a time.</p>
                
                <p class="text-start">So whether you're envisioning your dream home, planning a commercial development, or embarking on a community revitalization project, let Anna's Architectural Firm be your partner in turning your vision into reality. Together, let's build a better tomorrow, one blueprint at a time.</p>
            <!-- <a routerLink="/actors" class="btn btn-success">Get Started!</a> -->
            
            
        </div>
    </div>

</div>

